.regdisappear {
	display: none;
}
.navbar{
	box-shadow: 1px 3px 2px gray;
}
table{
	width: 100%;
	
}
.right{
	text-align: right;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #663333;
    color: white;
	text-transform: uppercase;
	font-size: 120%;
}

#regFab{
	position: fixed;
}