@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/fonts/Framework7Icons-Regular.eot");
  src: url("../lib/fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../lib/fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../lib/fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

    .f7-icons.size-14 {
      font-size: 14px;
    }
    .f7-icons.size-16 {
      font-size: 16px;
    }
    .f7-icons.size-18 {
      font-size: 18px;
    }
    .f7-icons.size-22 {
      font-size: 22px;
    }
    .f7-icons.size-25 {
      font-size: 25px;
    }
    .f7-icons.size-29 {
      font-size: 29px;
    }
    .f7-icons.size-50 {
      font-size: 50px;
    }
    .f7-icons.size-100 {
	font-size: 100px;
	}